$color: rgba(116, 108, 1, 0.692);

.create__quiz__form {
   .questions__number {
      display: inline-block;
      position: relative;
      margin-left: 20px;
      .increase__button,
      .decrease__button {
         position: absolute;
         height: 25px;
         width: 25px;
         cursor: pointer;
         img {
         }
      }

      span {
         font-size: 24px;
      }
      .increase__button {
         right: -25px;
         top: 5px;
      }
      .decrease__button {
         transform: rotate(180deg);
         left: -25px;
         top: 5px;
      }
   }

   .remove__question__button {
      position: relative;
      padding: 18px;
      border-radius: 50%;
      transition: all 0.2s;

      &::before {
         content: "";
         width: 60%;
         height: 1px;
         position: absolute;
         background: rgb(143, 143, 143);
         left: 50%;
         bottom: 50%;
         transform: translate(-50%, -50%) rotate(45deg);
         transition: all 0.2s;
      }
      &::after {
         content: "";
         width: 60%;
         height: 1px;
         position: absolute;
         background: rgb(139, 139, 139);
         left: 50%;
         bottom: 50%;
         transform: translate(-50%, -50%) rotate(-45deg);
         transition: all 0.2s;
      }
      &:hover {
         background-color: rgba(253, 251, 109, 0.301);

         &::before,
         &::after {
            width: 50%;
         }
      }
   }

   input[type="radio"] {
      appearance: none;
      background-color: #fff;
      font: inherit;
      color: $color;
      min-width: 22px;
      max-width: 22px;
      min-height: 22px;
      max-height: 22px;
      border: 3px solid $color;
      border-radius: 50%;
      display: grid;
      place-content: center;
   }
   input[type="radio"]::before {
      content: "";
      border-radius: 50%;

      width: 10px;
      height: 10px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em $color;
   }
   input[type="radio"]:checked::before {
      transform: scale(1);
   }
}
